body {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: linear-gradient(
    135deg,
    from hsl(0, 0%, 100%),
    to hsl(0, 100%, 98%)
  );
}
.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: linear-gradient(
    135deg,
    from hsl(0, 80%, 86%),
    to hsl(0, 74%, 74%)
  );
}

#left {
  position: relative;
  align-items: center;
  justify-content: left;
  display: flex;
  flex-direction: row;
  width: 630px;
  height: 658px;
}
.logo {
  position: relative;
  display: flex;
  width: 131px;
  height: 28px;
  left: 224px;
  top: -273px;
}
h6 {
  position: relative;
  display: flex;
  width: 261px;
  height: 46px;
  left: 37px;
  top: -106px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 0.14em;
  color: #ba9596;
}
span {
  position: relative;
  display: flex;
  width: 352px;
  height: 142px;
  left: -205px;
  top: -7px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 96%;
  letter-spacing: 0.2em;
  color: #000000;
}
p {
  position: absolute;
  justify-content: center;
  top: 343px;
  left: 161px;
  font-family: "Josefin Sans";
  font-style: normal;
  letter-spacing: 1.1px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #d2c0c0;
}
.img {
  position: relative;
  width: 534px;
  height: 620px;
}

.inputBox {
  position: relative;
  display: flex;
  width: 170px;
  height: 32px;
  top: 165px;
  left: -473px;
}
/* #email{
    position: relative;
    width: 366px;
    height: 41px;
    left: -250px;
    top: -108px;
    border: 1px solid #E47A78;
    box-sizing: border-box;
    border-radius: 60px;
} */
#btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82.5px;
  height: 45.9px;
  background: #f19b99;
  border: 1px solid #f19b99;
  box-shadow: 10px 15px 24px 5px rgba(241, 155, 153, 0.25);
  border-radius: 60px;
  top: -1px;
  left: 185px;
}
input[type="email"] {
  position: absolute;
  width: 229px;
  height: 38px;
  left: -28px;
  top: 0px;
  padding-left: 20px;
  border-radius: 50px;
  background-color: transparent;
  outline: none;
}

.text {
  position: absolute;
  display: flex;
  top: -100px;
  left: -300px;
}
h2 {
  position: relative;
  display: flex;
  text-align: center;
  top: 38px;
  left: 42px;
  font-size: 12px;
}


@media only screen and (max-width: 800px) {
  .container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logo {
    left: 254px;
    top: -141px;
  }
  h6 {
    left: 150px;
    top: 197px;
    font-size: 34px;
  }
  .img {
    width: 298px;
    height: 231px;
    left: 46px;
    top: -238px;
  }
  span {
    text-align: center;
    left: -1px;
    top: 297px;
    font-size: 33px;
  }
  p {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    top: 431px;
    left: 189px;
    height: 200px;
    width: 330px;
  }
  #form {
    left: 245px;
    top: 224px;
  }

  input[type="email"] {
    position: relative;
    background-color: transparent;
    outline: none;
    padding-left: 20px;
    border-radius: 50px;
    height: 39px;
    width: 210px;
    left: 264px;
    top: 222px;
  }
  #btn {
    top: 222px;
    left: 397px;
  }
  h2 {
    top: 259px;
    left: 83px;
    font-size: 12px;
  }
}
