@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@include textfield.core-styles;
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@include icon-button.core-styles;
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
  font-family: "Roboto", sans-serif;
}
header {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 10%;
  background-color: #141d29;
  color: #e2f4fe;
}
header > img {
  width: auto;
  height: 2rem;
  padding-left: 1em;
}
nav {
  display: flex;
  align-items: center;

  font-size: 10px;
}
nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
ul > li {
  display: flex;
  flex-direction: column;
  border-left: 2px solid #39414b;
  justify-content: center;
  padding-left: 1em;
  padding-right: 1em;
}
.modulo {
  text-align: right;
  font-size: 14px;
  font-style: "bold";
}
.iconTransladar {
  position: relative;
  bottom: -5px;
  left: -7px;
  padding-left: 1em;
  width: auto;
  height: 15px;
  z-index: 4;
}
.mdc-text-field__input {
  display: flex;
  justify-content: left;
  width: 28rem;
  height: 30px;
  padding-left: 1em;
}
.textStyleHeader {
  color: #d2d0d0;
}
.actualizar{ width: auto; height: auto;}
#left {
  display: flex;
  align-items: center;
  justify-content: start;
  color: #628FBD ; 
  padding-left: 1em;
  padding-top: 2em;
  font-size: 10px;
  line-height: 2.5em;
  width: 30%;
  height: auto;
}

.employeeInformation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 10%;
  height: 12.5rem;
  width: 100vw;
  padding: 1em;
  background-color: #dde2e6;
  border-bottom: 18px solid rgba(202, 211, 216, 0.09);
  box-shadow: 0px 3px 4px #c5ced6;
}
#rigth{
display: flex;
justify-content: space-evenly;
align-items: center;
width: 70%;
height: auto;
}
.containerPhoto {
  display: flex;
  justify-content: right;
  align-items: end;
}
.iconCameraContainer {
  position: relative;
  right: 36px;
  bottom: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #447da9;
}
.workerInformation>h2{ 
  font-size: 12px;
  line-height: 1.5em;
  color: #628FBD ; }
#content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding-top: 1rem;
  height: 688px;
  background: #ffffff;
  border-radius: 0px;
  border: 1px solid red;
}
@media screen and (min-width: 400px) and (max-width: 800px) {
  nav {
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 8px;
  }
  .iconTransladar {
    display: none;
  }
  .mdc-text-field__input {
    width: 13rem;
    padding-left: 0em;
  }
}
