
  body {
    width: 100vw;
    height: 100vh;
    font-size: 13px;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .container {

    position: relative;
    height: 285px;
    width: 720px;
    box-shadow: 0px 0px 20px rgb(170, 170, 170);
    border-radius: 25px;
  }
  .texts{
    position: absolute;
    left: 290px;
    width: 438px;
    height: 285px;
    padding: 35px;
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  header{
    width: 335px;
    font-size: 19px;
    line-height: 30px;
    font-weight: 700;
    text-align: left;
    color: grey;
  }
  p{
    width: 350px;
    text-align: left;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: grey;
    letter-spacing: 0.2px;
  }
  h2 {
    position: absolute;
    font-weight: 800;
    top: 200px;
    left: 90px;
    float: left;
    font-family: sans-serif;
    font-size: 15px;
    width: 190px;
    color: #49556b;
  }
  .date{
    position: absolute;
    top: 230px;
    left: 100px;
    font-weight: 100;
    font-family: sans-serif;
    color: grey;
  }
  .person{
    position: relative;

    top: 15px;
    height: 40px;
    border-radius: 50%;
    float: left;
  }
  .drawer{
    width: 335px;
    height: 285px;
    float: left;
    margin: 0px;
    border-radius: 25px;
  }
  .bottomshare{
  
    position: relative;
    left: 220px;
  }
  @media only screen and (max-width: 600px){
     
    #left{
      flex-direction: column;

    }
    #right{
      flex-direction: column;
    }
  }
  
  
  