body{
    width: 100%;
   
}
img{
    height: 300px;
    width: 400px;
    left: 917px;
    top: 18px;
    border-radius: 0px;
    position: relative;
    display:flex;
}
nav{
    position: relative;
    width: 362px;
    height: 49px;
    left: -53px;
    top: 16px;
}
.button{
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, 0.25);
}
.tittle-grafic {
    position: relative;
    width: 163px;
    height: 66px;
    left: 558px;
    top: 50px;
    
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 66px;
    text-align: center;

}

