
:root {
   --background-color: rgba(45, 45, 45, 0.1); ;
   --padding: 10px;
   --font-size: 27px;
   --position: relative;
   --width: 157px;
   --height: 92px;
   --display: flex;
}

body{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.container{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
header{
    position: relative;
    height: 49px;
    width: 362px;
    left: 10px;
    top: -280px;
    border-radius: 0px;
}
.tittle-graphic{
    position: relative;
    font-size: 24px;
    left: 0px;
    top: -275px;

}
.date{ 
    position: absolute;
    height: 49px;
    width: 362px;
    border-radius: 0px;
    left: 0px;
    top: -275px;
}
.text{
    left: 10px;
    top: -280px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
.bottom {
    position: relative;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    height: 49px;
    width: 362px;
    left: 13px;
    top: -265px;
    border-radius: 0px;

}
.h2{
    position: absolute;
    font-size: 24px;
    range: center;
    vertical-align: top;

    
}
.box-1{    
    background-color: var(--background-color);
    padding: var(--padding);
    font-size: var(--font-size);
    position: var(--position);
    width: var(--width);
    height: var(--height);
    left: -1196px;
    top: -133px;
    display: var(--display);

}
.box-2 {
    background-color: var(--background-color);
    padding: var(--padding);
    font-size: var(--font-size);
    position: var(--position);
    width: var(--width);
    height: var(--height);
    left: -1170px;
    top: -133px;
    display: var(--display);
}
.box-3 {
    background-color: var(--background-color);
    padding: var(--padding);
    font-size: var(--font-size);
    position: var(--position);
    width: var(--width);
    height: var(--height);
    left: -1140px;
    top: -133px;
    display: var(--display);
}

.box-4 {
    background-color: var(--background-color);
    padding: var(--padding);
    font-size: var(--font-size);
    position: var(--position);
    width: var(--width);
    height: var(--height);
    left: -1110px;
    top: -133px;
    display: var(--display);
}


.box-5 {
    background-color: var(--background-color);
    padding: var(--padding);
    font-size: var(--font-size);
    position: var(--position);
    width: var(--width);
    height: var(--height);
    left: -1450px;
    top: 6px;
    display: var(--display);
}
.box-6 {
    background-color: var(--background-color);
    padding: var(--padding);
    font-size: var(--font-size);
    position: var(--position);
    width: var(--width);
    height: var(--height);
    left: -1420px;
    top: 6px;
    display: var(--display);
}
.location { 
    position: relative;
    left: 120px;
    top: -100px;
    width: 459px;
    height: 323px;
    border-radius: 0%;

}


