body{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;

}
.container{

    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FAFAFA;


}
.text{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: #76767D;
}
.box1{
    position: relative; 
    justify-content: center;
    align-items: center;
    width: 294px;
    height: 200px;
    left: 613px;
    top: 395px;
}
.box2{
    position: relative; 
    width: 294px;
    height: 200px;
    left: 267px;
    top: 495px;
 
}
.box3{
    position: relative; 
    width: 294px;
    height: 200px;
    left: 613px;
    top: 638px;


}
.box4{
    position: relative; 
    justify-content: center;
    align-items: centers;
    width: 294px;
    height: 200px;
    left: 958px;
    top: 495px;

}