body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #182339;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: auto;
    background-color: red;
}

section>.container_time{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height:auto;
    background-color: darkblue;
    margin: 3px;
}


.game{
    width: 30%;
    height:auto;
    font-size: 13px; 
    border-radius: 5px;
    padding-bottom: 1rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
      color: #FFF;
      background-color: #212f4d;

    
}

.game>header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height:auto;
    background-color:#3f5688;
    border-radius: 5px 5px 0px 0px;
    font-size: 14px;


}

.game>#randomWord{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40%;
    height: 7vh;
    background-color: #182339;
    border-radius: 5px;
    margin: 30px;
}
.game>#buttonCorrect{
    display: flex;
}
.game>#buttonIncorrect{
    display: none;
}
.game>#buttonNextWord{
    display: none;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 8vh;
    border-radius: 10px;
    color: #FFF;
    font-size: 20px;
    background:#3f5688;
    cursor: pointer;
    border: none;
}
