body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50%;
  width: 150vh;
}
#header,
span {
  display: flex;
  justify-self: center;
  align-items: start;
  padding-left: 3rem;
  font-size: 18px;
  width: 100%;
  color: #268ed4;
  height: auto;
  margin-left: 16rem;
}
#left {
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav_Bar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 240px;
  height: 215px;
}
.buttons_nav,
a {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  text-decoration: none;
  background-color: #d9d9d9;
  color: #352626;
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 45px;
}
.buttons_nav:hover {
  background-color: #727272;
}
#right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
}
#table,
tr,
th {
  border: solid 1px #b8b8b8;
}
#header_table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  width: 100%;
  height: 49px;
  background-color: #ffffff;
  border: 2px solid #f5f5f5;
  box-shadow: inset 0px 22px 51px -8px rgba(0, 0, 0, 0.09);
}
#header_table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  width: 100%;
  height: 49px;
  background-color: #ffffff;
  border: 2px solid #f5f5f5;
  box-shadow: inset 0px 22px 51px -8px rgba(0, 0, 0, 0.09);
}
#button_add_new {
  text-align: center;
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  justify-content: center;
  font-size: 13px;
  width: 71px;
  height: 44px;
  border-radius: 5px;
  background-color: #268ed4;
  color: #fff;
  border: none;
  margin-left: 10rem;
}
#button_add_new.btnAdd{  
  display: none;
  text-align: center;
  align-items: center;
  margin-right: 0.5rem;
  justify-content: center;
  font-size: 13px;
  width: 71px;
  height: 44px;
  border-radius: 5px;
  background-color: #268ed4;
  color: #fff;
  border: none;
  margin-left: 10rem;
}
.Header_tittle {
  text-align: center;
  display: flex;
  align-items: center;
  justify-self: center;
  margin-left: 10rem;
}
.Header_tittle.titleTable{
  text-align: center;
  display: flex;
  align-items: center;
  justify-self: center;
  margin-left: 10rem;
}
td:hover {
  background-color: #53a0d3;
}
#form_Add_New {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 230px;
  background-color: #d9d9d9;
  font-size: 15px;
  border-radius: 15px 15px 0px 0px;
}
#form_Add_New>label{
  margin-left: 2rem;
}
.header_Btn_Add {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #53a0d3;
  border-radius: 15px 15px 0px 0px;
  padding-right: 1rem;
}
#close_Window_Add_New {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
#img_Close_Btn {
  width: 17px;
  height: 17px;
}
#title_Section{
  margin-left: 1rem;
}
.img{
  display: flex;
  width: 10px;
  height: 10px;
}

#button_Guardar {
  display: flex;
  margin-right: 1rem;
  align-self: end;
  justify-self: center;
  width: 70px;
  height: 70px;
  margin-bottom: 1rem;
}
main>.modal{
position: fixed;
display: none;
align-items: center;
justify-content: center;
background-color: #515151;
width: 100vw;
height: 100vh;
z-index: 1;
background-color: rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    width: 100vh;
    height: 150vh;
  }
  #header_table {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 136px;
  }
  #form_Add_New {
justify-content: center;
align-items: center;
  }
}
