
body{
        position: relative;
        display: flex;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: white;
        justify-content: center;
        
}
.container {  
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    display: flex;


  }
  #left{
      position: relative;
      flex-direction: column;
      display: flex;
      justify-content: center;
      z-index: 1;
      width: 400px;
      height: 300px;
      padding: 15px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      background-color: #ffffff; 
  
  }
  .txt1{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    text-align: justify;
    z-index: 1;
    width: 400px;
    height: 300px;
    top: -31px;
    left: -42px;
  }
  .pquotes{
    position: relative;
    display: flex;
    width: 96px;
    height: 69px;
    top: 160px;
    left: 10px
  }
  .pcurve{
    position: relative;
    display: flex;
    width: 304px;
    height: 115px;
    left: -53px;
    top: 303px;
 
  }

  #right{
    position: relative;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 400px;
    height: 300px;
    top: 57px;
    left: -31px;
  }
 
  .bg{
  display: flex;
  position: relative;
  height: 418px;
  width: 478px;
  left: -25px;
  top: -15px;
  border-radius: 0px;

  }
  .pPhoto1{
  position: relative;
  display: flex;
  z-index: 1;
  height: 340px;
  width: 365px;
  left: 35px;
  top: -377px;
  border-radius: 8px;
  }
  #bPrev{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 43px;
  width: 55px;
  top: 372px;
  left: 43px;
  border: none;
  border-radius: 50px 0px 0px 50px;

  } 
  #bNext{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
    height: 43px;
    width: 55px;
    top: 372px;
    left: 98px;
    border: none;
    border-radius: 0px 50px 50px 0px;
    
    } 

  @media only screen  and (max-width: 800px) {

  .container {  
    display: flex;
    position: relative;
    flex-direction: row;
    }
    #left{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   
      width: 330px;
      height: 170px;
      top: 360px;
      left: 349px;
      padding: 15px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      background-color: #ffffff;
  
  }
.txt1{
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 22px;
  
  z-index: 1;
  width: 400px;
  height: 300px;
  top: -31px;
  left: -42px;
}
  .pquotes{
    top: 160px;
    left: 10px
  }
  .pcurve{   
    left: -90px;
    top: 303px;
  }
 
  #bottonBack{
    height: 36px;
    width: 50px;
    top: 372px;
    left: 127px;


  } 
  #bottonNext{
    height: 36px;
    width: 50px;
    top: 372px;
    left: 178px;
    
    } 
  }

  /*    background-image: url("../3 coding-bootcamp-testimonials-slider/images/pattern-quotes.svg");
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;

    @media only screen  and (max-width: 600px) {


        #bottonNext{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    height: 55px;
    width: 107px;
    top: -370px;
    left: -400px;
    border-radius: 50px;

  }

    */